<div class= "signup">
<form action="/signup" method ='post'>
	First Name: <br>
		<input type="text" name="first_name"><br>
	Last Name:<br>  
	 <input type="text" name="last_name"><br>
	Username: <br>
		<input type="text" name="username"><br>
	Password: <br>
	<input type="text" name="password"><br>
	<br>
	<input type="submit" value="Submit" >
</form>
</div>



